<div class="window-desktop-container">
  <ng-container *ngFor="let win of windowService.windows; trackBy: trackByFn">
    <app-window
        [component]="win.component"
        [data]="win.data"
        [title]="win.title"
        [windowInstance]="win"
        [focused]="windowService.focused === win"
        (closed)="windowService.close(win)"
        (focusedEvent)="windowService.focus(win)"
      ></app-window>
  </ng-container>
</div>
<div class="minimized-bar" *ngIf="minimizedWindows.length > 0">
  <button
    *ngFor="let win of minimizedWindows"
    class="minimized-btn"
    (click)="restore(win)">
    {{ win.title }}
  </button>
</div>
