<div
  #windowRef
  class="app-window"
  [class.focused]="focused"
  [class.maximized]="isMaximized"
  cdkDrag
  cdkDragHandle
  [cdkDragBoundary]="'.window-desktop-container'"
  (mousedown)="onFocus()"
  [style.display]="isMinimized ? 'none' : 'block'"
>
  <div class="app-window-header">
    <span class="title">{{ title }}</span>
    <div class="window-actions">
      <button mat-icon-button (click)="toggleMinimize()" class="minimize-btn" >
        <mat-icon>minimize</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleMaximize()" class="maximize-btn">
        <mat-icon>{{ isMaximized ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="closed.emit()" class="close-btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="app-window-content">
    <ng-template #container></ng-template>
  </div>
</div>
